body{
  text-align:center;
  background-image: linear-gradient(red 0%, yellow 125%);
  background-repeat:no-repeat;
}

img{
  height: 300px;
    margin-top: 70px;
}

h1{
    font-size:37px;
  color:aqua;
}

.line{
  height:6px;
  background-color:black;
  width: 800px;
  margin: 8px auto;
}

p{
  font-size:25px;
  color:blue;
}
.menu {
    text-align: center;
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index:10;
    cursor: pointer;
}
.links{
    float: left;
    color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: cursive;
    font-size: 20px;
    }
.links:hover{
    background-color: yellow;
}
iframe{
    width: 100%;
    height: 700px;
}
img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}


